.footer {
    padding: 2rem 0 4rem 0;
    background-color: rgb(73,109,111);
    text-align: center;
}

.footer__nav {
    display: flex;
    justify-content: space-around;
}

.button-link {
    padding: 0;
    border: none;

    color: #e9eef1;
    background-color: transparent;

    font:inherit;
    text-decoration: underline;
    cursor: pointer;
}

.footer__content {
    color: #e9eef1;
    width: 100%;
}

.content__title {
    margin-top: 2rem;
}

.content__text { 
    margin: 1rem;
}