.hero-image {
    grid-column: span 12;

    position: relative;

    margin: 0 rem;
    height: 600px;
    max-width: 100vw; 
    max-height: 70vw;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/image/heroimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    position: absolute;
    
    margin-bottom: 0.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    text-align: center;
}

.text-title{
    margin-bottom: 0.5rem;
}

.register-button {
    display: inline-block;

    margin-top: 2rem;
    border-radius: 1rem;
    border: none;
    outline: 0;
    padding: 10px 25px;

    color: black;
    background-color: #ddd;

    font-size: 1rem;
    text-align: center;
    cursor: pointer;
 }
  
 .register-button:hover, .register-button:focus{
    background-color: #555;
    color: white;
}

.gallery {
    grid-column: span 12;
}

